<% include ./partials/header %>
<h1>Create a blog</h1>
<form action="/blogs/" method="POST">
<input type="text" name="blogTitle" id="blogTitle" value="Enter Title"/>
<input type="text" name="blogAuthor" id="blogAuthor" value="Enter Author"/>
<input type="text" name="blogImage" id="blogImage" value="Enter Image url"/>
<input type="text" name="blogPost" id="blogPost" value="Enter Post"/>
<input type="submit" value="Submit"/>
</form>
<% include ./partials/footer %>
