<% include ./partials/header %>
<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title%></div>
	<div class="item">
		<div class="content"><%= blog.author %></div>
		<img class="ui centered rounded image" src="<%= blog.imageUrl %>">
		<div class="description" ><%- blog.post%></div>
	</div>
<% include ./partials/footer %>
